<%= form_with(model: add_examination, local: true) do |form| %>
  <% if add_examination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(add_examination.errors.count, "error") %> prohibited this add_examination from being saved:</h2>

      <ul>
      <% add_examination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category, t('activerecord.attributes.add_examination.category') %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :subject_id, t('activerecord.attributes.subject.course') %>
    <!-- <%= form.text_field :subject_id %> -->
    <%= form.collection_select :subject_id, Subject.all, :id, :course %>
  </div>

  <div class="field">
    <%= form.label :place, t('activerecord.attributes.add_examination.place') %>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.label :comment, t('activerecord.attributes.add_examination.comment') %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
