<div class="panel panel-primary">
    <div class="panel-heading">
	    検索
	</div>

    <div class="panel-body">
        <%= search_form_for @q do |f| %>
            <%= f.label :category_cont, t('activerecord.attributes.add_examination.category') %>
            <%= f.radio_button :category_cont, "", {:checked => true} %>指定なし
            <%= f.radio_button :category_cont, "追試" %>追試
            <%= f.radio_button :category_cont, "再試" %>再試
            <br>
            
            <%= f.label :subject_course_cont, t('activerecord.attributes.subject.course') %>
            <%= f.collection_select :subject_id, Subject.all, :id, :course, :include_blank => '指定なし' %>
            
            <br>

            <%= f.submit %>
        <% end %>
    </div>

</div>