<div class="card border-primary">
    <div class="card-header text-white bg-primary">
        検索
	</div>

    <div class="card-body">
        <div class=container>
            <form>
                <%= search_form_for @q do |f| %>
                    <fieldset class="form-group">
                        <div class="row">
                            <%= f.label :category_cont, t('activerecord.attributes.add_examination.category'), class: "col-sm-3 col-form-label" %>
                            <div class="col-sm-9">
                                <div class="form-check form-check-inline">
                                    <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-secondary">
                                                <%= f.radio_button :category_cont, "", {:checked => true, :class => 'form-check-input'} %>指定なし
                                            </label>
                                            <label class="btn btn-secondary">
                                                <%= f.radio_button :category_cont, "追試", {:class => 'form-check-input'} %>追試
                                            </label>
                                            <label class="btn btn-secondary">
                                                <%= f.radio_button :category_cont, "再試", {:class => 'form-check-input'} %>再試
                                            </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    
                    <br>
            
                    <div class="form-group row">
                        <%= f.label :subject_id_eq, t('activerecord.attributes.subject.course'), class: "col-sm-3 col-form-label" %>
                        <div class="col-sm-9">
                            <%= f.collection_select :subject_id_eq, Subject.all, :id, :course,
                                                    {prompt: true}, {class: "form-control"} %>
                        </div>
                    </div>
                
                    <br>
                
                    <div class="form-group row">
                        <%= f.label :scheduled_at, t('activerecord.attributes.add_examination.scheduled_at'), class: "col-sm-3 col-form-label" %>
                        <div class="col-sm-9 form-inline">
                            <%= f.date_field :scheduled_at_gteq, {:class => "form-control"} %>から
                            <%= f.date_field :scheduled_at_lteq_end_of_day, {:class => "form-control"} %>まで
                        </div>
                    </div>
                
                    <br>

                    <%= f.submit nil , :class => 'btn btn-primary btn-block' %>
                <% end %>
            </form>
        </div>
    </div>
</div>

