<p>
  <strong>
    <%= t('activerecord.attributes.add_examination.category') %>
  </strong>
  <%= @add_examination.category %>
</p>

<p>
  <strong>
    <%= t('activerecord.attributes.subject.course') %>
  </strong>
  <%= @add_examination.subject.course %>
</p>

<p>
  <strong>
    <%= t('activerecord.attributes.add_examination.place') %>
  </strong>
  <%= @add_examination.place %>
</p>

<p>
  <strong>
    <%= t('activerecord.attributes.add_examination.comment') %>
  </strong>
  <%= @add_examination.comment %>
</p>

<%= link_to 'Edit', edit_add_examination_path(@add_examination) %> |
<%= link_to 'Back', add_examinations_path %>
