<div class="pc-width">
  <div class="my-3">
    <div class="card text-center border-info">
      <div class="card-header text-white bg-info">
        <h1>
          <%= t('scaffold.show') %>
        </h1>
      </div>

      <div class="card-body">
        <div class="d-flex border border-dark">
          <div class="flex-column align-self-baseline p-2">
            <strong>
              <%= t('activerecord.attributes.subject.course') %>
            </strong>
          </div>
          <div class="ml-auto p-2">
            <%= @subject.course %>
          </div>
        </div>
        <div class="d-flex border border-dark">
          <div class="flex-column align-self-baseline p-2">
            <strong>
              <%= t('activerecord.attributes.subject.instructor') %>
            </strong>
          </div>
          <div class="ml-auto p-2">
            <%= @subject.instructor %>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="container">
          <div class="row">
            <%= link_to t('scaffold.edit'), edit_subject_path(@subject), class: "btn btn-success col-sm-6" %>
            <%= link_to t('scaffold.back'), subjects_path, class: "btn btn-outline-dark col-sm-6" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>