<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= render 'layouts/rails_default' %>
    </head>
    <body class="d-flex flex-column background-colk" style="min-height: 100vh">
        <%= render 'layouts/header' %>
        <%= render 'layouts/current_username' %>
        <%= render 'layouts/flash_message' %>
        <div class="container-fluid mb-auto">
            <%= yield %>
        </div>
        <%= render 'layouts/bottom_nav' %>
        <%= render 'layouts/footer' %>
    </body>
</html>