<div class="container">
<form>
  <%= form_with(model: substitute, local: true) do |form| %>
    <% if substitute.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(substitute.errors.count, "error") %> prohibited this substitute from being saved:</h2>
        <ul>
          <% substitute.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group row">
    <%= form.label :changed_at, t('activerecord.attributes.substitute.changed_at'), class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.date_select :changed_at, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :period, t('activerecord.attributes.substitute.period'), class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.number_field :period, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :subject_id,  t('activerecord.attributes.subject.course'), class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.collection_select :subject_id, Subject.all, :id, :course, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :comment, t('activerecord.attributes.substitute.comment'), class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_area :comment, class: "form-control" %>
    </div>
  </div>

  <div class="action">
    <%= form.submit nil , :class => 'btn btn-primary btn-block' %>
  </div>
  <% end %>

</form>
</div>
