<%= form_with(model: substitute, local: true) do |form| %>
  <% if substitute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(substitute.errors.count, "error") %> prohibited this substitute from being saved:</h2>

      <ul>
      <% substitute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :changed_at, t('activerecord.attributes.substitute.changed_at') %>
    <%= form.date_select :changed_at %>
  </div>

  <div class="field">
    <%= form.label :period, t('activerecord.attributes.substitute.period') %>
    <%= form.number_field :period %>
  </div>

  <div class="field">
    <%= form.label :subject_id,  t('activerecord.attributes.subject.course') %>
    <!-- <%= form.text_field :subject_id %> -->
    <%= form.collection_select :subject_id, Subject.all, :id, :course %>
  </div>

  <div class="field">
    <%= form.label :comment, t('activerecord.attributes.substitute.comment') %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit nil , :class => 'btn btn-primary' %>
  </div>
<% end %>
