<div class="card border-primary">
    <div class="card-header text-white bg-primary">
	    検索
	</div>

    <div class="card-body">
        <%= search_form_for @q do |f| %>
            <%= f.label :period_eq, t('activerecord.attributes.substitute.period') %>
            <%= f.radio_button :period_eq, "", {:checked => true} %>指定なし
            <%= f.radio_button :period_eq, "1" %>1
            <%= f.radio_button :period_eq, "2" %>2
            <%= f.radio_button :period_eq, "3" %>3
            <%= f.radio_button :period_eq, "4" %>4

            <br>

            <%= f.label :subject_id_eq, t('activerecord.attributes.subject.course') %>
            <%= f.collection_select :subject_id_eq, Subject.all, :id, :course, :include_blank => '指定なし' %>
        
            <br>

            <%= f.label :changed_at, t('activerecord.attributes.substitute.changed_at') %>
            <%= f.date_field :changed_at_gteq %>~<%= f.date_field :changed_at_lteq_end_of_day %>

            <br>
            
            <%= f.submit nil , :class => 'btn btn-primary' %>

        <% end %>   
    </div>

</div>