<p>
  <strong>
    <%= t('activerecord.attributes.substitute.changed_at') %>
  </strong>
  <%= @substitute.changed_at %>
</p>

<p>
  <strong>
    <%= t('activerecord.attributes.substitute.period') %>
  </strong>
  <%= @substitute.period %>
</p>

<p>
  <strong>
    <%= t('activerecord.attributes.subject.course') %>
  </strong>
  <%= @substitute.subject.course %>
</p>

<p>
  <strong>
    <%= t('activerecord.attributes.substitute.comment') %>
  </strong>
  <%= @substitute.comment %>
</p>

<%= link_to 'Edit', edit_substitute_path(@substitute) %> |
<%= link_to 'Back', substitutes_path %>
